doctype html
html
    head
        title Swara Wise
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.container.is-fluid.is-widescreen
            block content
        script(src="/javascripts/kutsh.js")
